.discografia-h1{
    text-align: center;
    font-size: 5rem;
    
}

.p-discografia{
    padding-left: 4.375rem;
    font-size: 1.875rem;
}

.discos{
    display: flex;
    justify-content: space-around ;
    object-fit: contain;
    flex-wrap: wrap ;
    
    .año{
        text-align: center;
    }

}

.Discos-escuchados{
    font-size: 2.5rem;
    padding-left: 6.25rem;
}




.discografia-footer{
    bottom: 0;
    width: 100%;
    
}
