.footer-index{
    width: 100%;
    bottom: 0;
}

footer{
    background-color: $color-background;
    height: 4.6875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;

    ul li{
        display: inline;
    }
}

