.footer-index{
    width: 100%;
    bottom: 0;
}
footer ul li{
    display: inline;
}
footer{
    background-color: #841212;
    height: 4.6875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}