.img-tour{
    display: flex;
    justify-content: center;
    padding: 1.25rem;
    object-fit: contain;
    height: 300px;
    
    

    
    

}

.fechas{
    @include flex1;
    
}
.h1-tour{
    text-align: left;
    font-size: 5rem;
    padding-left: 6.25rem;
}    

button{
    padding: 30px;
    bottom: 230px;
    width: 150px;
    color: black;
    font-family:"Patua One", serif;
    background-color: $color-background;
    object-fit: contain;

    button:active{
        background-color: blue;
    }
}

.tour-foote{
    bottom: 0%;
    width: 100%;
}